@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Libre+Franklin&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Libre Baskerville, sans-serif;
    font-weight: 300;
    color:#330000;
    background-color: #e0dada;
}

/* Heading and Logo */

h1, h2 {
    font-family: Libre Franklin, sans-serif;
    letter-spacing: 4px;
    color: #000033;
    text-transform: uppercase;
}
#logo {
    font-size: 300%;
    float: left;
}
/* Navigation */
#menu {
    font-size: 110%;
    letter-spacing: 4px;
    /* NEEDS TO BE CHECKED */
    display: flex;
    justify-content: flex-end;  
}
#menu li {
    list-style-type: none;
    margin-top: 20px;
    margin-right: 50px;
}
#menu a {
    text-decoration: none;
    color: inherit;
}
#menu a:hover {
    border-bottom: 1px solid #000033;
}
.active {
    border-bottom: 1px solid #000033;
}

/* Hero Image */
#hero-image {
    height: 500px;
    width: 100%;
    background:url("../images/hero-image.jpg") no-repeat center center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#hero-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;
}
/* Text inside the hero image */
#overlay {
    background-color: rgba(224, 218, 218, 0.9);
    max-width: 320px;
    text-align: center;
    padding: 10px;
    border-radius: 5%;   
}
#overlay p {
    margin: 10px;
    padding: 5px;
    display: contents;
    font-size: 100%;
    
}
.book-button-outer {
    margin: 20px;
    padding: 5px;

}
.book-button {
    background-color: #000033;
    text-decoration: none;
    font-size: 110%;
    font-weight: bold;
    text-transform: uppercase;
    color: #e0dada;
    padding: 10px;
    border-radius: 5%;
}
.book-button:hover {
    background-color: #e0dada;
    color: #000033;
    border: 2px solid #000033;
}

/* Events Section */
#events {
    height: 470px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 30px 30px 30px 0;
    align-items: center;
    
}
#kids-gaming {
    width: 300px;
    height: 300px;
    border-radius: 20%;
    border: 20px solid #330000;
    overflow: hidden;
}
#events-image {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 20%;
    border: 20px solid #330000;
}
#events-info {
    width: 300px;
    text-align: center;
    
    font-size: 100%;
    
}
#events-info h2 {
    padding:30px 0 0 0px;
}
#events p {
    padding: 10px 20px 0px 20px;
}
.event-button-outer {
    margin: 20px;
    padding: 10px;
}
.event-button {
    background-color: #000033;
    text-decoration: none;
    font-size: 140%;
    font-weight: bold;
    text-transform: uppercase;
    color: #e0dada;
    margin: 20px;
    padding: 10px;
    border-radius: 5%;

}
.event-button:hover {
    background-color: #e0dada;
    color: #000033;
    border: 2px solid #000033;

}
/* Banner Section */
#banner {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 20px;
}
#banner-1 {
    width: 45%;
    background-color: #000033;
    color: #e0dada;
    height: auto;
}
#banner-2 {
    width: 45%;
    background-color: #000033;
    color: #e0dada;
    height: auto;
}
#banner-1 h3, p {
    word-spacing: 4px;
    padding: 5px;
    text-align: center;
    font-size: 150%;
}
#banner-2 h3, p {
    word-spacing: 4px;
    padding: 5px;
    text-align: center;
    font-size: 150%;
}
/* Footer/Social Media */

.media {
    text-align: center;
    padding: 10px; 
    border: 2px solid #000033;
}
.media p {
    padding: 5px;
}
.social-networks {
    text-align: center;
    padding: 10px;
}
.social-networks li {
    padding:20px;
    display:inline;
    font-size: 200%;    
}
.social-networks a {
    text-decoration: none;
    color: #330000;
}

/* Events Page Starts Here */

#event-1 {
    background: url(../images/cod-image.jpg);
    width: 300px;
    height: 400px;
    padding: 15px;
    word-spacing: 2px;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#event-1 h2 {
    border-bottom: 2px solid #000033;
    padding: 15px;
    text-align: center;
    background-color: rgba(224,218,218, 0.9);
    border-radius: 10%;
}
#event-1 p {
    padding: 10px;
    font-size: 100%;
    background-color: rgba(224,218,218, 0.9);
    border-radius: 10%;
}
#event-2 {
    background: url(../images/fifa-image.jpg) no-repeat center center;
    width: 300px;
    height: 400px;
    padding: 15px;
    word-spacing: 2px;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#event-2 h2 {
    border-bottom: 2px solid #000033;
    padding: 15px;
    text-align: center;
    background-color: rgba(224,218,218, 0.8);
    border-radius: 10%;
}
#event-2 p {
    padding: 10px;
    font-size: 100%;
    background-color: rgba(224,218,218, 0.8);
    border-radius: 10%;
}
.disclaimer {
    color: red;
}
#event-hero-outer {
    min-height: 700px;
    width: 100%;
    background:url("../images/hero-event.jpg") no-repeat center center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    
}
    .form-event {
        background-color: #e0dada;
        max-width: 300px;
        padding: 15px;
        height: 400px;
        border-radius: 5%;
        border: 2px solid #000033;
    }
    .form-event h2 {
        margin-bottom:10px;
    }
    .text-input{
        width: 100%;
        height: 25px;
        margin: 5px 0 20px;
        border: 1px solid #e0dada;
        border-radius: 2px;
    }
    .text-input:hover {
        border-color: #330000;
    }
    .join-button {
    margin: 20px 60px;
    border-radius: 5px;
    padding: 20px 35px 20px 35px;
    text-align: center;
    font-size: 150%;
    background-color: #000033;
    color: #e0dada;
    }
    .join-button:hover {
        background-color: #fafafa;
        color: #f16c6b;
    }
/* Contact section starts here */

#hero-contact {
        min-height: 600px;
        width: 100%;
        background-color: rgb(244, 244, 196);
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
}

/* Opening Hours/Addreess details*/

.contact-open {
    display: flex;
    min-width: 320px;
    
    align-items: center;
    flex-direction: column;
    
}
.address li {
    list-style-type: none;
}
/* Opening hours */
.time-table {
    border-collapse: collapse;
    min-width: 320px;
    background-color: #e0dada;
    border: 2px solid #000033;
    height: 200px;
    margin: 25px 0;
    
}
.time-table tr th {
    text-align: left;
    font-weight: bold;
    padding: 12px;
    
}
.time-table tr {
    border-bottom: 1px solid #595959; 
}
.time-table td {
    padding:12px;
    text-align: left;
    
}


/* Email, Phone, Address */
.address {
    max-width: 320px;
    padding: 0 0 0 15px;
    
}
.address h2 {
    letter-spacing: 5px;
    padding: 5px;
}
.address li {
    list-style-type: none;  
    padding: 15px auto; 
}

/* Comment-From */
/* ZZZZZZZZZZZZZZZZZZZZZZZZZZZZ */
.comment-info {
    min-width: 320px;
    display: flex;
}

.comment-info  h3 {
    text-align: center;
     font-size: 150%;
     padding: 5px;
}

#comment-form {
    border: 2px solid black;
    max-width: 320px;
    max-height: 450px;
    margin: 20px auto;
    padding: 10px;
    text-align: left;
    border-radius: 10px;
}
#comment-form > label {
    display: block;
    padding: 5px;
}
#comment-form > input,textarea {
    display: block;
    width: 95%;
    padding: 5px;
}
#comment-form #send-button {
    color: #e0dada;
    border-radius: 5%;
    background-color: #000033;
    text-transform: uppercase;
    padding: 10px;
    margin-top: 10px;
    width: auto;
}
#comment-form #send-button:hover {
    color: #000033;
    background-color: #e0dada;
}
#comment-form > textarea {
    height: 100px;
}

/* Map Area */
#map-area {
    border: 2px solid #000033;
}

/* Media queries */

/* For larger to medium screen sizes from 1200px and down */

@media screen and (max-width:1200px) {
    
    #logo {
        width: 100%;
    }
    #menu {
        justify-content: flex-start;
        float: left;
        margin-bottom: 5px;
    }
    #events {
        display: contents;
        display: flex;
        flex-direction: row;
        height: fit-content;
        justify-items: center;
        overflow: hidden;
        flex-wrap: wrap;
    }
    #events-image {
        width: 300px; 
        height: 300px;
        display: block;
        margin: 10px 0 10px 0;
         
    }
    #events-info {
      width: auto;
      margin: 0 50px 20px 50px;
        
    }    
    #hero-contact {
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        padding-bottom: 20px;
    }
    .contact-open {
        flex-direction: row;
    }
    #banner {
        flex-direction: column;
    }
    #banner-1 {
        width: 100%;
        margin-bottom: 10px;
    }
    #banner-2 {
        width: 100%;
        margin: 10px 0 20px;
    }
    /* Map Area */
    #map-area {
    border: 2px solid #000033;
    width: auto;
    }

}
/* For medium screen sizes from 769px and down */

@media screen and (max-width:769px) {
    #menu {
        flex-direction: column;
        justify-content: flex-start;
        float: left;

    }
    #events {
        display: flex;
        justify-content: space-evenly;
        
    }
    .contact-open {
        flex-direction: column;
    }
    #comment-form {
        margin: 20px auto 20px;
    }
}
/* For smaller screen sizes from 481px and down */

@media screen and (max-width:481px) {

    #overlay {
        font-size: 20px;
    }

    #events-image {
        display: block;
        
    }
    #overlay {
        width:  300px;
    }
}