@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Libre+Franklin&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Libre Baskerville, sans-serif;
    font-weight: 300;
    color:#999999;
    background-color: darkred;
}

/* Heading and Logo */

h1, h2 {
    font-family: Libre Franklin, sans-serif;
    letter-spacing: 4px;
    color: #595959;
    text-transform: uppercase;
}
#logo {
    font-size: 300%;
    float: left;
}
/* Navigation */
#menu {
    font-size: 110%;
    letter-spacing: 4px;
    /* NEEDS TO BE CHECKED */
    display: flex;
    justify-content: flex-end;  
}
#menu li {
    list-style-type: none;
    margin-top: 20px;
    margin-right: 50px;
}
#menu a {
    text-decoration: none;
    color: inherit;
}
#menu a:hover {
    color: #595959;
}
.active {
    border-bottom: 1px solid #999999;
}

/* Hero Image */
#hero-image {
    height: 500px;
    width: 100%;
    background:url("../images/hero-image.jpg") no-repeat center center;
    
}
#hero-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;
}
/* Text inside the hero image */
#overlay {
    background-color: rgba(0, 0, 0, 0.8);
    width: 400px;
    height: 300px;
    font-size: 24px;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding-top: 10px;
    border-radius: 5%;  
}
#overlay p {
    margin: 10px;
}
.book-button-outer {
    margin: 20px;
    padding: 5px;

}
.book-button {
    background-color: #595959;
    text-decoration: none;
    font-size: 110%;
    font-weight: bold;
    text-transform: uppercase;
    color: darkred;
    margin: 20px;
    padding: 10px;
    border-radius: 5%;
    
}
.book-button:hover {
    background-color: darkred;
    color: #595959;
}

/* Events Section */
#events {
    background-color: black;
    height: 350px;
    width: 100%;
    margin: 10PX;
    display: flex;
   
}
#events-image {
    background: url("../images/gaming-group.jpg") no-repeat center center;
    width: 45%;
    height: 340px;
    overflow: hidden;
    padding: 5px;

}
#evnts-info {
    background-color: darkred;
    width: 50%;
    height: 280px;
    justify-content: end;
    text-align: center;
    margin: 30px;
    font-size: 120%;
    border-radius: 5%; 

}
#evnts-info h2 {
    padding:20px;
}
.event-button-outer {
    margin: 20px;
    padding: 5px;
}
.event-button {
    background-color: #595959;
    text-decoration: none;
    font-size: 140%;
    font-weight: bold;
    text-transform: uppercase;
    color: darkred;
    margin: 20px;
    padding: 10px;
    border-radius: 5%;
    border: 2px solid black;

}
.event-button:hover {
    background-color: black;
    color: darkred;
    border: 2px solid #595959;

}
