@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Libre+Franklin&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Libre Baskerville, sans-serif;
    font-weight: 300;
    color:#330000;
    background-color: #e0dada;
}

/* Heading and Logo */

h1, h2 {
    font-family: Libre Franklin, sans-serif;
    letter-spacing: 4px;
    color: #000033;
    text-transform: uppercase;
}
#logo {
    font-size: 300%;
    float: left;
}
/* Navigation */
#menu {
    font-size: 110%;
    letter-spacing: 4px;
    /* NEEDS TO BE CHECKED */
    display: flex;
    justify-content: flex-end;  
}
#menu li {
    list-style-type: none;
    margin-top: 20px;
    margin-right: 50px;
}
#menu a {
    text-decoration: none;
    color: inherit;
}
#menu a:hover {
    border-bottom: 1px solid #000033;
}
.active {
    border-bottom: 1px solid #000033;
}

/* Hero Image */
#hero-image {
    height: 500px;
    width: 100%;
    background:url("../images/hero-image.jpg") no-repeat center center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#hero-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;
}
/* Text inside the hero image */
#overlay {
    background-color: rgba(224, 218, 218, 0.9);
    width: 400px;
    font-size: 24px;
    text-align: center;
    padding-top: 10px;
    border-radius: 5%;  
    
    
}
#overlay p {
    margin: 10px;
    padding: 5px;
    display: contents;
}
.book-button-outer {
    margin: 20px;
    padding: 5px;

}
.book-button {
    background-color: #000033;
    text-decoration: none;
    font-size: 110%;
    font-weight: bold;
    text-transform: uppercase;
    color: #e0dada;
    padding: 10px;
    border-radius: 5%;
}
.book-button:hover {
    background-color: #e0dada;
    color: #000033;
    border: 2px solid #000033;
}

/* Events Section */
#events {
    height: 470px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 30px 30px 30px 0;
    align-items: center;
    
}
#kids-gaming {
    width: 300px;
    height: 300px;
    border-radius: 20%;
    border: 20px solid #330000;
    overflow: hidden;
}
#events-image {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 20%;
    border: 20px solid #330000;
}
#events-info {
    width: 300px;
    text-align: center;
    
    font-size: 100%;
    
}
#events-info h2 {
    padding:30px 0 0 0px;
}
#events p {
    padding: 10px 20px 0px 20px;
}
.event-button-outer {
    margin: 20px;
    padding: 10px;
}
.event-button {
    background-color: #000033;
    text-decoration: none;
    font-size: 140%;
    font-weight: bold;
    text-transform: uppercase;
    color: #e0dada;
    margin: 20px;
    padding: 10px;
    border-radius: 5%;

}
.event-button:hover {
    background-color: #e0dada;
    color: #000033;
    border: 2px solid #000033;

}
/* Banner Section */
#banner {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 20px;
}
#banner-1 {
    width: 45%;
    background-color: #000033;
    color: #e0dada;
    height: auto;
}
#banner-2 {
    width: 45%;
    background-color: #000033;
    color: #e0dada;
    height: auto;
}
#banner-1 h3, p {
    word-spacing: 4px;
    padding: 5px;
    text-align: center;
    font-size: 150%;
}
#banner-2 h3, p {
    word-spacing: 4px;
    padding: 5px;
    text-align: center;
    font-size: 150%;
}
/* Footer/Social Media */

.media {
    text-align: center;
    padding: 10px; 
    border: 2px solid #000033;
}
.media p {
    padding: 5px;
}
.social-networks {
    text-align: center;
    padding: 10px;
}
.social-networks li {
    padding:20px;
    display:inline;
    font-size: 200%;    
}
.social-networks a {
    text-decoration: none;
    color: #330000;
}

/* Contact section starts here */

/* Opening Hours */

.time-table {
    border-collapse: collapse;
    margin: 25px;
    min-width: 350px;
    background-color: #e0dada;
    border: 2px solid #000033;
    float: left;
    
}
.time-table tr th {
    text-align: left;
    font-weight: bold;
    padding: 12px;
    
}
.time-table tr {
    border-bottom: 1px solid #595959; 
}
.time-table td {
    padding:12px;
    text-align: left;
    
}


/* Email, Phone, Address */

.contact-info {
    text-align: left;
    padding: 5px;
    word-spacing: 4px;
}
.contact-info h2,li {
    padding: 5px;
    margin-top: 10px;
}
/* Media queries */

/* For larger to medium screen sizes from 1200px and down */

@media screen and (max-width:1200px) {
    
    #logo {
        width: 100%;
    }
    #menu {
        justify-content: flex-start;
        float: left;
    }
    #events {
        display: contents;
        display: flex;
        flex-direction: row;
        height: fit-content;
        justify-items: center;
        overflow: hidden;
        flex-wrap: wrap;
    }
    #events-image {
        width: 300px; 
        height: 300px;
        display: block;
        margin: 10px 0 10px 0;
         
    }
    #events-info {
      width: auto;
      margin: 0 50px 20px 50px;
        
    }    

    #contact {
        display: flex;
        flex-direction: column;
        float: left;
    }
    #banner {
        flex-direction: column;
    }
    #banner-1 {
        width: 100%;
        margin-bottom: 10px;
    }
    #banner-2 {
        width: 100%;
        margin: 10px 0 20px;
    }
}
/* For medium screen sizes from 769px and down */

@media screen and (max-width:769px) {
    #menu {
        flex-direction: column;
        justify-content: flex-start;
        float: left;

    }
    #events {
        display: flex;
        justify-content: space-evenly;
        
    }
}
/* For smaller screen sizes from 481px and down */

@media screen and (max-width:481px) {

    #overlay {
        font-size: 20px;
    }

    #events-image {
        display: block;
        
    }
    #overlay {
        width:  300px;
    }

}
